.abovehr p{
    font-weight:bold;
}
#redli{
    color: red;
}
.parents .ulprnts{
    display: inline-block;
    width: 7%;
    text-align: center;

}
.parents .ulprnts ul li{
    list-style-type: none;

}
.parents .ulprnts ul{
    text-align: left;
    padding-left: 1px;
}
.parents h4{
    padding-right: 35px;
}
.parents input:hover{
    background-color: rgb(222, 228, 228);
    transition-delay: 1sn;
}
.container hr{
    border: 0.1 px solid grey;
}

.greyinput input{
    background-color: rgb(222, 228, 228);
}
.greyinput input:hover{
    background-color: white;
}